<%- include('header') %>

<h2>
    Nova categoria:
    <a href="/admin/categorias">Categorias</a>
</h2>

<div>
    <form method="POST">
        <label>Nova categoria:</label>
        <input type="text" name="categoria">
        <br>
        <br>
        <button type="submit">Salvar categoria</button>
    </form>
</div>

<%- include('footer') %>